<!DOCTYPE html>
<html>
  <head>
    <title>LaAdventures</title>
    <%= csrf_meta_tags %>
<link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
<link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<%= render "layouts/navbar" %>
  <body>
  	

<div class="container">
  <%= yield %>
</div>

<%= render "layouts/footer" %>
<script src="//railsgirls.com/assets/bootstrap.js">
	</script>
	</body>
</html>
